/** Layout **/

body {
    margin: 0px;
    background-color: #D1E0CD;
    background-repeat: repeat;
    font-family: asap, helvetica, arial, sans-serif;
}

/** Barra de informações **/
#head_meet {
    width: 240px;
    position: fixed;
    left: -255px;
    top: 0;
    bottom: 0;
    padding: 5px;
    background: #fff;
    box-shadow: 2px 0 2px rgba(0, 0, 0, 0.26);
    color: #333;
    font-size: 20px;
    z-index: 10000;
    background-image: url("../../img/background-left.png");
}

.close-bar {
    padding: 5px 10px;
    float: left;
    font-size: 28px;
}

.close-bar a {
    color: #000;
    opacity: .8;
}

.logo-bar img {
    width: 90px;
    opacity: .8;
    float: right;
}


.drawer-header, .drawer-body-top, .drawer-body-middle, .drawer-footer {
    color: #000;
    font-size: 20px;
    font-family: asap, arial, sans-serif;
}

.drawer-header, .drawer-body-top, .drawer-body-middle{
    border-bottom: 1px solid black;
}
.drawer-header{
    height: 50px;
}
.drawer-body-top{
    text-align: center;
}
.drawer-body-top, .drawer-body-middle{
    height: 130px;
    padding: 10px 0;
}

.info-name{
    height: 110px;
}

.info-icon {
    float: left;
    width: 40px;
}


.info-exit {
    text-align: center;
    padding: 5px;
    border-bottom: none;
    border-top: 1px solid #000;
    position: absolute;
    bottom: 0;
    color: #000;
    margin-right: 5px;
}

.info-exit .info-icon {
    float: none;
}

.info-text {
    float: left;
    padding: 10px;
}

#info-button {
    position: absolute;
    top: 5px;
    left: 6px;
    width: 25px;
    padding: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    z-index: 1;
    font-size: 28px;
}

#info-button a {
    color: #fff;
}

.question-image-container {
    width: 50%;
    float: left;
    margin-right: 20px;
    list-style: none;
}

.question-title {
    font-size: 35px;
    line-height: 35px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.64);
    height: 180px;
    vertical-align: middle;
    display: table-cell;
}

/** Respostas **/

.answer-ok {
    vertical-align: middle;
}

.send-button {
    background: #ACDD31;
    border: none;
    padding: 0px 60px;
    color: #fff;
    font-size: 26px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #2C2C2C;
}

/** Resposta tipo texto **/
.answer input {
    margin: 0 0 50px 0;
    border: 9px solid #51b899;
    width: 672px;
    padding: 15px;
}



/** Overlay **/

.overlay {
    background: rgba(255, 255, 255, 0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    display: none;
    z-index: 100000;
}

#hit-message, #error-message{
    z-index: 100001;
}


.error {
    background: #FBB03B;
}

.success {
    background: #51b899;
}

.exit {
    background: #666666;
}

.message-container {
    width: 350px;
    margin: 150px auto;
    text-align: center;
    font-family: tellural, helvetica, arial, sans-serif;
    color: #fff;
    font-size: 36px;
    padding: 30px;
    border-radius: 6px;
    line-height: 44px;
    box-shadow: 1px 1px 8px #2C2C2C;
}

.message-container.exit {
    width: 500px;
    padding: 50px 30px;
}

.message-icon {
    width: 60px;
}

.message-container.exit .message-icon {
    margin: 50px 50px 0 50px;
    cursor: pointer;
}

.message-button {
    border: none;
    border-radius: 3px;
    color: #fff;
    font-family: tellural, helvetica, arial, sans-serif;
    font-size: 36px;
    padding: 20px 40px;
    margin-top: 10px;
    cursor: pointer;
}
.error .message-button {
    background: #F18318;
}

.success .message-button {
    background: #ACDD31;
}

.btn_lastPage {
    width: 60px;
    heigth: 150px;
    position: fixed;
    left: 0;
    top: 40%;
    cursor: pointer
}

.btn_nextPage {
    width: 60px;
    heigth: 150px;
    position: fixed;
    right: 0;
    top: 40%;
    cursor: pointer;
}

.PLC-input{
    width: 35px;
    height: 35px;
    margin: 1px;
    font-size: 30px;
    text-align: center;
}
input.PLC-input{
    border: 2px solid gray;
    border-radius: 2px;
}

input.PLC-input:read-only{
    background-color: lightgray;
    color: gray;
}

.PLC-table td{
    border: none;
    vertical-align: middle;
}

.DIG-table{
    border: 1px solid gray;
}
.DIG-table td{
    border: none;
    vertical-align: middle;

    width: 35px;
    height: 35px;
    margin: 1px;
    font-size: 30px;
    text-align: center;
}

.group.build_image{
    width: 150px;
    height: 150px;
    margin-bottom: 15px;
}

.middle-words{
    width:60%;
    float:left;
}
.middle-words table, .left-images div, .right-images div{
    margin: 0 auto;
    position: relative;
}

.left-images  span, .right-images span {
    position: absolute;
    top: -4px;
    left: -20px;
}
.left-images  span, .right-images span, span.PLC-input {
    color: #F27E0C;
    /*text-shadow: 1px 1px 1px #000;*/
    font-size: 30px;
    font-weight: 800;
    font-family: tellural;
    display: block;
}
.left-images{
    width:20%;
    float: left;
}
.right-images{
    width:20%;
    float:left;
}
.ask {
    padding-top:10px;
}

body{
    overflow-y: hidden;
}

td.marked{
    background-color:green;
}