
#select-student select {
	background: #E9A232;
	padding: 8px 30px;
	border: none;
	border-radius: 5px;
	box-shadow: 2px 2px 6px #2C2C2C;
	color: #fff;
	margin-right: 30px;
}

#select-student .login-label {
	width: 120px;
}

#select-student {
    margin: 5% auto;
    width: 63%;
}

