/* 
    Document   : render.css
    Created on : Apr 11, 2014, 12:20:18 PM
    Author     : ipti002
    Description:
        Purpose of the stylesheet follows.
*/

/** Reset **/
ul, ol, li {
    list-style: none;
}
.theme{
    background:#585858;
    font-family:sans-serif;
}
.cobjects{
    width:100%;
    clear:both;
}

.cobjectInfo {
    display: none;
}

.cobjectInfo span{
    text-decoration: none; 
    list-style: none; 
    font-size:14px; 
    /*text-align: center; 
    font-weight: bold;*/
}

.toolbar {
    text-align: right;
}

.cobjects li{
    list-style-type: none;
}

#nextPiece, #begin_activity{
    text-align: right;
}

.nextPiece{
    cursor:pointer;
    background: #ACDD31;
    border: none;
    padding: 0px 60px;
    color: #fff;
    font-size: 26px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #2C2C2C;
}

.element { 
    display: block;
}

fieldset{
    border:2px solid gray;
}

#import_data{
    text-align: center;
    margin-top: 100px;
}

#import_data #enviar{
 
}

.toolBar {
    clear: both;
    text-align: center;
    margin-top:40px;
}

/** Nível e Pontos **/
.game {
    position: absolute;
    top: 1px;
    right: 30px;
}

.level {
    float: left;
    margin-right: 15px;
}

.points {
    float: left;
}

.score-icon {
    float: left;
    width: 50px;
    margin-right: 5px;
}

.score-number {
    float: left;
    font-family: tellural, helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #FBB03B;
}

/** PieceSet Global **/


/** Questão **/
.pieceSetInfo {
    width: 700px;
    height: 210px;
    margin: 0 auto 40px;
    background: #FBB03B;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    color: #fff;
    font-size: 35px;
    line-height: 35px;
    position: relative;
    text-align: center;
}

.pieceSetInfo .elementImage {
    width: 50%;
    float: left;
    margin-right: 20px;
    list-style: none;
}

.pieceSetInfo .elementImage img { 
    display: block;
    height: 210px;
    width: 100%;
}

/** Respostas Global**/

.elementSound{
    display:none;
}

.soundIconPlay{
    width:100%;
    height:100%;
}

/** Template TXT **/
.book {
    background: #fff;
    margin: 70px;
    border: 4px solid #FBB03B;
    clear: both;
    font-family: tellural,helvetica, arial, sans-serif;
    color: #51B899;
    font-weight: bold;
    font-size: 30px;
    text-transform: lowercase;
    height: 417px;
}

.book-right {
    padding: 10px;
}

.book-left {
    float: left;
    width: 50%;
    padding: 10px;
    border-right: 4px solid #FBB03B;
    height: 400px;
    background-color: #bbb
}

/** Template MTE **/
.ask, .answer {
    text-align: center;
    display: table;
    margin: auto;
}

.DDROP .ask {

}

.MTE .group, .AEL .group, .DDROP .group{
    float:left;
    padding: 5px;
    margin: 0 10px;
    border: 3px solid transparent ;
    cursor: pointer;
    position: relative;
}

.elementText {
    font-size: 19px;
    text-transform: uppercase;
}

.element img {
    height: 140px;
    border-radius: 2px;
}

.group.build_text.build_sound .element-build_text {
    margin-top: 0;
}

/* ALTERNATIVAS */
/* texto + imagem + som */
.group.build_image.build_text.build_sound .element-build_sound img,  .group.build_image.build_sound .element-build_sound img{
    position: absolute;
    top: 11px;
    right: 11px;
    width: 30px;
    height: 30px;
    margin: 0;
}

.element-build_text .elementText {
    display: block;
    margin-top: 40%;
}


/* iamegm + texto */
.group.build_image.build_text .elementImage img {
    height: 121px;
}

.group.build_image.build_sound.build_text .element-build_text {
    bottom: 7px;
}

.group.build_image.build_text .element-build_text {
    position: absolute;
    bottom: 7px;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 10px;
}

.group.build_sound .element-build_sound img{
    width: 100px;
    height: 100px;
    margin-top: 20px;
}

.group.build_sound.build_text .element-build_text {
    position: absolute;
    bottom: 30px;
    text-align: center;
    left: 0;
    right: 0;
    padding: 0 10px;
}

.group.build_sound.build_text .element-build_sound img{
    width: 40px;
    height: 40px;
    margin-top: 40px;
}

.group li:first-child {
    width: 160px;
    height: 140px;
    background: #51B899;
    border-radius: 5px;
    padding: 5px;
    margin: 0;
}

/* QUESTÃO */
/* imagem + texto + som */
.question-container.build_sound.build_text.build_image .element-build_sound img {
    position: absolute;
    width: 67px;
    height: auto;
    margin-left: -87px;
    cursor: pointer;
}

.question-container.build_text.build_image .element {
    text-align: left;
}

/* texto + som */
.question-container.build_sound.build_text .element-build_sound img {
    width: 100px;
    height: auto;
    cursor: pointer;
}

/** Dropdown **/
.drop {
    z-index: 1;
}

.drag {
    z-index: 100;
}

.ui-draggable-dragging {
    z-index: 1000;
}

.ui-draggable-dropping {
    z-index: 1000;
    border: 5px solid #000;
}

/*
/** Template AEL **
.AEL .ask{
    text-align: center;
    display: table;
    margin: auto;
}

.AEL .group{
    float:left;
    width: 160px;
    height: 140px;
    background: #51B899;
    border-radius: 5px;
    padding: 7px;
    margin: 0 10px;
    cursor: pointer;
}

.AEL .elementText {
    font-size: 19px;
    text-transform: uppercase;
}

.AEL .element-build_text {
    margin-top: 40%;
}

.AEL .group.build_image.build_text .elementImage img {
    height: 121px;
}

.AEL .group.build_image.build_text .element-build_text {
    margin-top: 0;
}*/




/** Template PRE **/
.PRE fieldset {
    margin: auto;
    width: 720px;
    text-align: center;
}
.PRE input {
    margin: 0 0 50px 0;
    border: 9px solid #51b899;
    width: 672px;
    padding: 15px;
}


/** Nível **/

body {
    margin: 0px;
    background-color: #D1E0CD;
    background-image: url(../img/background-texture.png);
    background-repeat: repeat;
}

#boxraio {
    width: 54px;
    height: 100px;
    margin-top: 92px;
    margin-left: 48%;
    float: left;
}

#boxtexto {
    width: auto;
    height: auto;
    margin-top: 160px;
    margin-left: -270px;
    float: left;
}

.texto1 {
    font-family: Tellural;
    color: #51B899;
    text-align: center;
    text-decoration: none;
    text-height: 52px;
    font-size: 48px;
}

#boxbotao {
    width: 120px;
    height: 60px;
    float: left;
    margin-top: 0px;
    margin-left: 45%;
    background-color: #ACDD31;
    border-radius: 5px;
}

.texto2 {
    font-family: Tellural;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    text-height: auto;
    font-size: 36px;
    padding-top: 20px;
}