/* 
    Document   : render.css
    Created on : Apr 11, 2014, 12:20:18 PM
    Author     : ipti002
    Description:
        Purpose of the stylesheet follows.
*/
.theme{
    background:#585858;
    font-family:sans-serif;
}
.cobjects{
    width:100%;
    clear:both;
}

.cobjectInfo {
    display: none;
}

.cobjectInfo span{
    text-decoration: none; 
    list-style: none; 
    font-size:14px; 
    /*text-align: center; 
    font-weight: bold;*/
}

.toolbar {
    text-align: right;
}

.cobjects li{
    list-style-type: none;
}

#nextPiece, #begin_activity{
    text-align: right;
}

.element { 
    display: block;
}

.elementImage img { 
    display: block;
    height: 210px;
    width: 100%;
}

fieldset{
    border:2px solid gray;
}

.group{
    float:left;width:340px;border:1px;
}

.ask{
    clear:both;
}
.answer{
    clear:both;
}

.message{
    float:right;
    font-weight: bold;
}


#import_data{
    text-align: center;
    margin-top: 100px;
}

#import_data #enviar{
 
}


.pieceSetInfo {
    width: 700px;
    height: 210px;
    margin: 0 auto;
    background: #FBB03B;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    color: #fff;
    font-size: 35px;
    line-height: 35px;
}

.toolBar {
    clear: both;
}

/** TEMPLATE PRE **/
.PRE fieldset {
    margin: 80px auto 0;
    width: 720px;
    text-align: center;
}
.PRE input {
    margin: 0 0 50px 0;
    border: 9px solid #51b899;
    width: 672px;
    padding: 15px;
}