/* 
    Document   : render.css
    Created on : Apr 11, 2014, 12:20:18 PM
    Author     : ipti002
    Description:
        Purpose of the stylesheet follows.
*/

/** Reset **/
ul, ol, li {
    list-style: none;
}
.theme{
    background:#585858;
    font-family:sans-serif;
}
.cobjects{
    width:100%;
    clear:both;
}

.cobjectInfo {
    display: none;
}

.cobjectInfo span{
    text-decoration: none; 
    list-style: none; 
    font-size:14px; 
    /*text-align: center; 
    font-weight: bold;*/
}

.toolbar {
    text-align: right;
}

.cobjects li{
    list-style-type: none;
}

#nextPiece, #begin_activity{
    text-align: right;
}

.nextPiece{
    cursor:pointer;
    background: #ACDD31;
    border: none;
    padding: 0px 60px;
    color: #fff;
    font-size: 26px;
    border-radius: 6px;
    box-shadow: 2px 2px 5px #2C2C2C;
}

.element { 
    display: block;
}

fieldset{
    border:2px solid gray;
}

.answer{
    clear:both;
}

.message{
    float:right;
    font-weight: bold;
}


#import_data{
    text-align: center;
    margin-top: 100px;
}

#import_data #enviar{
 
}

.toolBar {
    clear: both;
    text-align: center;
    margin-top:30px;
}

/** Nível e Pontos **/
.game {
    position: absolute;
    top: 15px;
    right: 30px;
}

.level {
    float: left;
    margin-right: 15px;
}

.points {
    float: left;
}

.score-icon {
    float: left;
    width: 50px;
    margin-right: 5px;
}

.score-number {
    float: left;
    font-family: tellural, helvetica, arial, sans-serif;
    font-weight: bold;
    font-size: 40px;
    color: #FBB03B;
}

/** PieceSet Global **/


/** Questão **/
.pieceSetInfo {
    width: 700px;
    height: 210px;
    margin: 0 auto 80px;
    background: #FBB03B;
    border-radius: 0 0 5px 5px;
    padding: 10px;
    color: #fff;
    font-size: 35px;
    line-height: 35px;
    position: relative;
}

.pieceSetInfo .elementImage {
    width: 50%;
    float: left;
    margin-right: 20px;
    list-style: none;
}

.pieceSetInfo .elementImage img { 
    display: block;
    height: 210px;
    width: 100%;
}

/** Respostas Global**/

.elementSound{
    display:none;
}

.soundIconPlay{
    width:100%;
    height:100%;
}

/** Template TXT **/
.book {
    background: #fff;
    margin: 40px;
    border: 4px solid #FBB03B;
    clear: both;
    font-family: tellural,helvetica, arial, sans-serif;
    color: #51B899;
    font-weight: bold;
    font-size: 52px;
    text-transform: lowercase;
    text-align: center;
}

.book-right {
    padding: 10px;
}

.book-left {
    float: left;
    width: 50%;
    padding: 10px;
}

/** Template MTE **/
.ask{
    text-align: center;
    display: table;
    margin: auto;
}

.MTE .group, .AEL .group{
    float:left;
    width: 160px;
    height: 140px;
    background: #51B899;
    border-radius: 5px;
    padding: 5px;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
}

.elementText {
    font-size: 19px;
    text-transform: uppercase;
}

.element img {
    height: 140px;
    border-radius: 2px;
}

.element-build_text {
    margin-top: 40%;
}

.group.build_image.build_text.build_sound .element-build_sound img {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 30px;
}

.group.build_image.build_text .elementImage img {
    height: 121px;
}

.group.build_image.build_text .element-build_text {
    margin-top: 0;
}
.element-build_sound img {
    position: absolute;
    width: 67px;
    height: auto;
    margin-left: -87px;
}
/*
/** Template AEL **
.AEL .ask{
    text-align: center;
    display: table;
    margin: auto;
}

.AEL .group{
    float:left;
    width: 160px;
    height: 140px;
    background: #51B899;
    border-radius: 5px;
    padding: 7px;
    margin: 0 10px;
    cursor: pointer;
}

.AEL .elementText {
    font-size: 19px;
    text-transform: uppercase;
}

.AEL .element-build_text {
    margin-top: 40%;
}

.AEL .group.build_image.build_text .elementImage img {
    height: 121px;
}

.AEL .group.build_image.build_text .element-build_text {
    margin-top: 0;
}*/




/** Template PRE **/
.PRE fieldset {
    margin: auto;
    width: 720px;
    text-align: center;
}
.PRE input {
    margin: 0 0 50px 0;
    border: 9px solid #51b899;
    width: 672px;
    padding: 15px;
}