/* 
    Document   : editor
    Created on : Aug 31, 2012, 11:18:55 AM
    Author     : thor
    Description:
        Purpose of the stylesheet follows.
*/

.themebutton{border:0px;border:1px solid #333; background: -moz-linear-gradient(top, #444444 0%, #343434 100%);}
.theme .clear{clear:both;display:block;}
.theme{background:#585858;font-family:sans-serif}
.theme header{height:40px;background:url('../../images/theme_header_menu.jpg') repeat-x;border-bottom:2px solid #999}
.theme header h1{float:left;margin-left:5px;position:relative;top:7px;height:25px;width:25px;text-indent:-9999px;background:url('../../images/theme_header_logo.jpg') no-repeat;}
.theme header ul{float:left;}
.theme header li{font-size:12px; color:#fff; text-shadow: 2px 2px 7px #111;padding:8px;margin-left:10px;margin-top:5px;border-radius: 6px;border:1px solid #272727;background: -moz-linear-gradient(top, #444444 0%, #343434 100%);float:left;}
.theme div.toolbar{-moz-box-shadow: inset 0 0 1px #868787;margin-top:10px; margin-left:30px; border:1px solid #151516; float:left;width:88px; height:402px;background:#191D22}
.theme div.toolbar h2{margin-left:1px;padding-top:6px;font-size:11px; color:#fff;text-align:center;display:block; height:14px; width:86px;background: -moz-linear-gradient(top, #46494D 0%, #191D22 100%);}
.theme div.toolbar ul.tools{display:block;clear:both;width:84px;margin-left:2px; height:3d70px;background: -moz-linear-gradient(left, #b8bdc1 0%, #cbcfd2 46%, #b9bdc1 100%);}
.theme ul.tools li{display:block;width:80px; height:50px;text-indent:-9999px;margin-top:10px;}
.theme ul.tools li#addimage{padding-top:7px; background:url('../../images/theme_tools_addimage.png') bottom no-repeat;}
.theme ul.tools li#addsound{background:url('../../images/theme_tools_addsound.png') bottom no-repeat;}
.theme ul.tools li#addvideo{background:url('../../images/theme_tools_addvideo.png') bottom no-repeat;}
.theme ul.tools li#addtext{background:url('../../images/theme_tools_addtext.png') bottom no-repeat;}
.theme ul.tools li#addquestion{background:url('../../images/theme_tools_addquestion.png') bottom no-repeat;}
.theme ul.tools li#addanswer{background:url('../../images/theme_tools_addanswer.png') bottom no-repeat;}
.theme div.canvas{margin-left:50px;margin-top:20px;float:left;width:960px;}
.theme div.canvas button#addpage,.theme div.canvas button#delpage{float:left;font-size:12px; height:28px;font-weight:bold;color:#fff;}
.theme div.canvas ul.navpage{float:left; width:430px;height:28px;margin-left:326px;}
.theme div.canvas div.page{background:#fff;min-height: 500px}
.theme ul.navpage li{float:left;}
.theme ul.navpage li#back,.theme ul.navpage li#next{width:28px;height:23px;text-align:center;font-size:22px; font-family:serif;font-weight:bold;color:#fff;}
.theme ul.navpage li#position{width:100px;text-align:center;height:23px;font-size:12px; line-height:22px;font-weight:bold;color:#fff;}
.theme div.canvas div.content{background:#fff; padding:10px; width:100%;clear:both;margin-top:5px;}
.theme div.page input.actName{border:1px dotted #999; width:100%; height:30px;color:#999;font-size:14px;font-weight:bold;margin-bottom:10px;}
.theme div.quest button.addTask{float:left;height:30px;width:30px;border:0px;text-indent:-9999px;background:url('../../images/theme_activity_addtask.png')}
.theme .tasklist{height:500px; overflow-y:scroll;float:left;width:928px;border:1px dotted #999}
.theme .tasklist .task{display:block;border:1px dotted #999;padding:10px;margin:10px 0px;min-height:200px;}
.theme .tasklist .delTask{border:0px; background:url('../../images/theme_activity_deltask.png');margin-bottom:-16px; float:right; position:relative; top:0; display:block; right: 0px; height:16px; width:16px;text-indent:-9999px;}
.active{border-color: red !important;}
.page_link{visibility:hidden}
.ellipse{
    float: left;
}

.container{
    width: 260px;
    float: left;
    margin: 50px 10px 10px;
    padding: 20px;
    background-color: white;
}

.page_navigation , .alt_page_navigation{
    padding-bottom: 10px;
}

.page_navigation a, .alt_page_navigation a{
    padding:3px 5px;
    margin:2px;
    color:white;
    text-decoration:none;
    float: left;
    font-family: Tahoma;
    font-size: 12px;
    background-color:#DB5C04;
}
.active_page{
    background-color:white !important;
    color:black !important;
}	

.content, .alt_content{
    color: black;
}

.content li, .alt_content li, .content > p{
    padding: 5px
}

.dragsource{margin-bottom:50px;display:block;}
.dragsource li{float:left;height:100px;width:100px;border:1px solid;margin:0px 10px}
.dragtarget li{float:left;height:100px;width:100px;border:1px solid;margin:0px 10px}
.dragtarget{display:block;clear:both;}
/*.contents .content,.goal,.screen{display:none;}*/
#COBJ454,#GL523,#CTN122,#CTN100{display:block}
.goals{border-bottom:1px solid #eee;}
.edrag,.edrop{display:block;clear:both;margin:10px auto}
.edrop li{float:left;margin:10px;}
.edrag li{float:left;width:100px;text-align:center;margin:10px;}
img{display:block;}
h1,h2,h3,h4,h5{display:none;}
h6{text-align:right;font-size:12px;display:none}
.enum li{display:block;margin:10px}

font.eclick{cursor:pointer}
font.eclick:hover{text-decoration: underline;border:1px dotted #000}
.options li{float:left;}
#paginate{background:#fff}
.screenInfo{display:block;padding:10px;background:#eee;margin-bottom:10px;-webkit-box-shadow:  0px 2px 5px 0px rgba(0, 0, 0);box-shadow:  0px 2px 5px 0px rgba(0, 0, 0)}
.screenInfo label{font-size:11px;display:block;}
.screen{display:none;}
#infoAct,#previous{float:left;}
#infoAct label{color:#666}
#infoAct{margin-left:10px;}
#infoAct strong{float:left;width:55px;}
#next,#previous{height:44px;width:56px;font-size: 80px; line-height:30px;color: #ccc;cursor: pointer}
#next:hover,#previous:hover{color:#666}
#next{float:right}
#nextButton{width: 200px;margin:0 auto;display:block;}
#message{position:relative !important;margin-bottom:-50px !important;z-index: 1;top:20px;}
.delement{opacity: 0.3}
.pairs,.groups{clear: both;display: block;margin: 20px 0px;}
.pairs .element,.groups .element{float: left;}
.piecesets{width: 960px;margin:20px auto;}
.element img{margin:0 auto;}
.options .element font,.groups .element font{margin:0 14px; font-size:24px;padding:4px;}
ul.enum,ul.pairs{border-bottom:1px solid #666;margin-bottom:20px}
.tplMulti span{float:left;border:1px dashed #000;margin:10px}
.theme .tplMulti .insertImage{border:0px; background:url('../../images/theme_tools_addimage.png'); float:left; height:34px; width:80px;text-indent:-9999px;}
.theme .tplMulti .insertText{border:0px; background:url('../../images/theme_tools_addtext.png'); float:left; height:34px; width:80px;text-indent:-9999px;}