/*   
    Document   : editor
    Created on : Aug 31, 2012, 11:18:55 AM
    Author     : thor
    Description:
        Purpose of the stylesheet follows.
*/

.themebutton{border:0px;border:1px solid #333; background: -moz-linear-gradient(top, #444444 0%, #343434 100%);}
.theme .clear{clear:both;display:block;}
.theme{background:#585858;font-family:sans-serif}
.theme header{height:40px;background:url('../../images/theme_header_menu.jpg') repeat-x;border-bottom:2px solid #999}
.theme header h1{float:left;margin-left:5px;position:relative;top:7px;height:25px;width:25px;text-indent:-9999px;background:url('../../images/theme_header_logo.jpg') no-repeat;}
.theme header ul{float:left;}
.theme header li{font-size:12px; color:#fff; text-shadow: 2px 2px 7px #111;padding:8px;margin-left:10px;margin-top:5px;border-radius: 6px;border:1px solid #272727;background: -moz-linear-gradient(top, #444444 0%, #343434 100%);float:left;}
.theme div.toolbar{-moz-box-shadow: inset 0 0 1px #868787;margin-top:10px; margin-left:30px; border:1px solid #151516; float:left;width:88px; height:82px;background:#191D22}
.theme div.toolbar h2{margin-left:1px;padding-top:6px;font-size:11px; color:#fff;text-align:center;display:block; height:14px; width:86px;background: -moz-linear-gradient(top, #46494D 0%, #191D22 100%);}
.theme div.toolbar ul.tools{display:block;clear:both;width:84px;margin-left:2px; height:3d70px;background: -moz-linear-gradient(left, #b8bdc1 0%, #cbcfd2 46%, #b9bdc1 100%);}
.theme ul.tools li{display:block;width:80px; height:50px;text-indent:-9999px;margin-top:10px;}
.theme ul.tools li#addvideo{background:url('../../images/theme_tools_addvideo.png') bottom no-repeat;}
.theme ul.tools li#addtext{background:url('../../images/theme_tools_addtext.png') bottom no-repeat;}
.theme ul.tools li#addPieceSet{background:url('../../images/theme_tools_addpieceset.png') bottom no-repeat;}
.piece{margin-bottom:30px;}
.theme div.canvas{margin-left:50px;margin-top:20px;float:left;width:960px;}
.theme div.canvas button#addscreen,
.theme div.canvas button#delscreen{float:left;font-size:12px; height:28px;font-weight:bold;color:#fff;}
.theme div.canvas ul.navscreen{float:left; width:430px;height:28px;margin-left:326px;}
.theme div.canvas div.screen{background:#fff;min-height: 500px}
.theme div.canvas li.title{color:#fff; text-decoration: none; list-style: none; font-size:14px; text-align: center; font-weight: bold;}
.theme ul.navscreen li{float:left;}
.theme ul.navscreen li#back,.theme ul.navscreen li#next{width:28px;height:23px;text-align:center;font-size:22px; font-family:serif;font-weight:bold;color:#fff;}
.theme ul.navscreen li#position{width:100px;text-align:center;height:23px;font-size:12px; line-height:22px;font-weight:bold;color:#fff;}
.theme div.canvas div.content{background:#fff; padding:10px; width:100%;clear:both;margin-top:5px;}
.theme div.screen input.actName{border:1px dotted #999; width:100%; height:30px;color:#999;font-size:14px;font-weight:bold;margin-bottom:10px;}
.theme div.PieceSet button.addPiece{background:url('../../images/theme_activity_addpiece.png'); float:left; height:30px;width:30px;border:0px;text-indent:-9999px;}
.theme div.PieceSet button.insertImage{background:url('../../images/theme_tools_addimage.png'); float:left; height:45px;width:80px;border:0px;text-indent:-9999px;}
.theme div.PieceSet button.insertSound{background:url('../../images/theme_tools_addsound.png'); float:left; height:45px;width:80px;border:0px;text-indent:-9999px;}
.theme div.tplMulti button.newElement{background:url('../../images/theme_tools_addelement.png'); float:block; height:45px;width:80px;border:0px;text-indent:-9999px;}
.theme div.PieceSet button.insertText{background:url('../../images/theme_tools_addtext.png'); float:left; height:45px; width:80px;border:0px;text-indent:-9999px;}
.theme ul.sortable { list-style-type: none; margin: 0; padding: 0; display:table; }
.theme ul.sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; border: 1px dashed black;}
.theme .piecelist{height:500px; overflow-y:scroll;float:left;width:928px;border:1px dotted #999}
.theme .piecelist .piece{display:block;border:1px dotted #999;padding:10px;margin:10px 0px;min-height:200px; overflow-y: auto}
.theme div.canvas .del{border:0px; background:url('../../images/theme_activity_del.png');margin-bottom:-16px; float:right; position:relative; top:0; display:block; right: 0px; height:16px; width:16px;text-indent:-9999px;}
.active{border-color: red !important;}
.page_link{visibility:hidden}
.ellipse{
    float: left;
}

.container{
    width: 260px;
    float: left;
    margin: 50px 10px 10px;
    padding: 20px;
    background-color: white;
}

.screen_navigation , .alt_screen_navigation{
    padding-bottom: 10px;
}

.screen_navigation a, .alt_screen_navigation a{
    padding:3px 5px;
    margin:2px;
    color:white;
    text-decoration:none;
    float: left;
    font-family: Tahoma;
    font-size: 12px;
    background-color:#DB5C04;
}
.active_page{
    background-color:white !important;
    color:black !important;
}	

.content, .alt_content{
    color: black;
}

.content li, .alt_content li, .content > p{
    padding: 5px
}

.dragsource{margin-bottom:50px;display:block;}
.dragsource li{float:left;height:100px;width:100px;border:1px solid;margin:0px 10px}
.dragtarget li{float:left;height:100px;width:100px;border:1px solid;margin:0px 10px}
.dragtarget{display:block;clear:both;}
/*.contents .content,.goal,.screen{display:none;}*/
#COBJ454,#GL523,#CTN122,#CTN100{display:block}
.goals{border-bottom:1px solid #eee;}
.edrag,.edrop{display:block;clear:both;margin:10px auto}
.edrop li{float:left;margin:10px;}
.edrag li{float:left;width:100px;text-align:center;margin:10px;}
img{display:block;}
h1,h2,h3,h4,h5{display:none;}
h6{text-align:right;font-size:12px;display:none}
.enum li{display:block;margin:10px;text-align: center}

font.eclick{cursor:pointer}
font.eclick:hover{text-decoration: underline;border:1px dotted #000;background:black;color:white;}
.options li{margin:10px 0px;float:left}
#paginate{background:#fff}
.screenInfo{display:block;padding:10px;background:#eee;margin-bottom:10px;-webkit-box-shadow:  0px 2px 5px 0px rgba(0, 0, 0);box-shadow:  0px 2px 5px 0px rgba(0, 0, 0)}
.screenInfo label{font-size:11px;display:block;}
.screen{display:none;}
#infoAct,#previous{float:left;}
#infoAct label{color:#666}
#infoAct{margin-left:10px;}
body{margin:0}
#infoAct strong{float:left;width:60px;}
#next,#previous{height:44px;width:56px;font-size: 80px; line-height:30px;color: #ccc;cursor: pointer}
#next:hover,#previous:hover{color:#666}
#next{float:right}
#nextButton{width: 200px;margin:0 auto;display:block;}
#message{position:relative !important;margin-bottom:-50px !important;z-index: 1;top:20px;}
.delement{opacity: 0.3}
.pairs,.groups{display: block}
.pairs .element,.groups .element{float: left}
.piecesets{width: 960px;margin:20px auto;}
.element img{margin:0 auto;}
.options .element font{margin:0 14px;padding:4px;}
ul.enum,ul.pairs{border-bottom:1px solid #666;margin-bottom:20px}
ul.pairs{padding-bottom:20px;}
.tplMulti span{float:left;border:1px dashed #000; margin: 5px; padding: 4px;}
.theme .tplMulti .insertImage{border:0px; background:url('../../images/theme_tools_addimage.png'); float:left; height:34px; width:80px;text-indent:-9999px;}
.theme .tplMulti .insertText{border:0px; background:url('../../images/theme_tools_addtext.png'); float:left; height:34px; width:80px;text-indent:-9999px;}
.text { border: 1px dashed black; padding: 2px;}
.messagebox{margin:10px auto;width:95%;display:block;padding:10px;}
.messagewrong{background:red;color:#fff}
.messagecorrect{background:green;color:#fff}
.lstexts li font{display:block;padding-top:10px;}
.element input[type=text]{width: 240px;height:32px;}
.element input[type=button]{width: 98px;height:38px;}
label.goal{font-weight: bold;font-size:20px;text-align: center}
.stpair6,.stgroup6{width: 150px;margin: 0px 5px;text-align: center;font-size:23px;}
.stpair5,.stgroup5{width: 182px;margin: 0px 5px;text-align: center;font-size:25px;}
.stpair4,.stgroup4{width: 230px;margin: 0px 5px;text-align: center;font-size:25px;}
.stpair3,.stgroup3{width: 310px;margin: 0px 5px;text-align: center;font-size:25px;}
.stpair6 img,.stgroup6 img{width:150px;height: 150px}
.stpair5 img,.stgroup5 img{width:180px; height: 180px;} 
.stpair4 img,.stgroup4 img{width:230px; height: 230px;} 
.stpair3 img,.stgroup3 img{width:310px; height: 230px;} 
.groups font, .pairs font{display: block;cursor: pointer}
.groups font:hover,.pairs font:hover{background:#eee}
.lstexts font{text-align:center}
.enum font{text-align: center}
.options7{width: 135px;font-size:20px;text-align: center}
.options7 font{font-size:23px;}
.options7 img{width: 135px;height:135px}
.options4{width: 240px;font-size:20px;text-align: center}
.options4 font{font-size:28px;}
.options4 img{width: 240px;height:240px}
.options5{width: 190px;font-size:20px;text-align: center}
.options5 font{font-size:20px;}
.options5 img{width: 190px;height:240px}
.options2{width: 460px;text-align: center}
.options2 font{font-size:35px;}
.options2 img{width: 460px;height:460px}
.options3{width: 320px;text-align: center}
.options3 font{font-size:25px;}
.options3 img{width: 320px;height:320px}
.sps_render_ending strong{margin:0 auto;display:block; width:260px; font-size:160px;color:green;font-weight: bold;margin-top:50px;}
.sps_render_ending span{text-align:center;font-size:30px;font-weight: bold;display:block;}
ul.vertical li{float:left!important;}
h5{display: block;}
