.clear{clear:both;display:block;}
.pull-right{float: right !important;}
.pull-left{float: left !important;}

.theme{
    background:#D1E0CD;
    font-family:sans-serif;
}


.theme #tools .navscreen{background: no-repeat scroll center bottom transparent; height: 20px; width:200px; border:0px;}
.theme #tools .navscreen #next, .theme #tools .navscreen #back{cursor: pointer;font-weight:bold;}
.theme #tools .navscreen #next:hover, .theme #tools .navscreen #back:hover{color:#4dd33a}
.theme #tools .navscreen #next{float:right}

#tools{
    top:0; 
    left: 0;
    position:fixed; 

    height:30px; 
    width: calc(100% - 10px);
    z-index: 9999;

    padding: 5px;
    background: #666666;
    box-shadow: 2px 0px 5px #2C2C2C;
    border-bottom: 1px solid #fff;
    float:left;
}
#tools li{
    color:#FFFFFF; 
    border-left:1px solid #FFFFFF;
    padding: 0px 5px;
    float:left;
    height: 30px;
    display:block;
}
#tools li:hover{
    color:#4dd33a;
}
#tools li:first-child{
    border-left:0px;
}
#tools li:last-child{
    border-left:0px;
}
.btn-tools{
    cursor: pointer;
}

#logo{
    width:23px;
    background:url('../../images/icon_synapse.png') no-repeat;
    background-size:contain;
}

#informations{
    position: relative;
    top: -28px;
    width: 700px;
    left: calc(50% - 350px);
    background: #FBB03B;
    border-radius: 0 0 5px 5px;
    background-color: #FBB03B;
    color: white;
    text-align: left;
}
#informations th{
    font-weight: bold;
    padding: 2px 5px;
}



.navscreen{
    background: no-repeat scroll center bottom transparent; 
    height: 20px; 
    width: 100%; 
    border:0px;
}
.navscreen #next, .navscreen #back{
    cursor: pointer;
    font-weight:bold;
}
.navscreen #next:hover, .navscreen #back:hover{
    color:#4dd33a;
}
.navscreen #next, .navscreen #back{
    height: 30px;
    width: 30px;
    margin: 5px;
    text-align: center;
    position: fixed;
    top: calc(50% -15px);
}
.navscreen #next{
    right:10px;
}
.navscreen #back{
    left:0px;
}
.navscreen #position{
    width: 100%;
    text-align: center;
    margin: 5px 0px;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
}


.piece{
    margin-bottom:30px;
}

#tools li.loading{
    list-style-type: none;
}

div.canvas{
    margin-left:50px;
    margin-top:70px;
    float:left;
    width:90%; 
}

div.canvas div.screen{
    background:#fff;
    min-height: 500px
}
div.canvas li.title{
    color:#fff; 
    text-decoration: none; 
    list-style: none; 
    font-size:14px; 
    text-align: center; 
    font-weight: bold;
}
div.canvas div.content{
    background:#fff; 
    padding:10px;
    clear:both;
    margin-top:5px;
}

.actName, .actNameDescCobject{
    border: 1px dotted #999;
    width: calc(100% - 10px);
    height: 30px;
    color: #999;
    font-size: 14px;
    font-weight: bold;
    margin: 5px;
    padding-left: 5px;
}



div.PieceSet button{
    float:left; 
    background-color: transparent;
    border:0px;
}
div.PieceSet button:hover{
    color: #4dd33a;
}

.addPiece, .insertImage, .insertSound,.insertText, .newElement{
    width: 60px;
    height: 60px;
    text-align: center;
    
}
div.tpl button.newElement{
    position: absolute;
    left: -5px;
    text-align: center;
}
div.PieceSet button.insertText{
}

ul.sortable { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    display:table; 
}
ul.sortable li { 
    margin: 3px 3px 3px 0; 
    padding: 1px; 
    float: left; 
    border: 1px dashed black;
    width: 220px;
}
.piecelist{
    height:500px; 
    overflow-y:scroll;
    float:left;
    width:100%;
    border:1px dotted #999;
}
.piecelist .piece{
    display:block;
    border:1px dotted #999;
    margin:10px 0px;
    min-height:200px; 
    overflow-y: auto;
}
div.canvas .del{
    border:0px; 
    background-color: transparent;
    height:16px; 
    width:16px;
    color: red !important;
}
div.canvas .del:hover{
    color: darkred !important;
}

.active{
    border-color: red !important;
}
.page_link{
    visibility:hidden;
}
.ellipse{
    float: left;
}

.container{
    width: 260px;
    float: left;
    margin: 50px 10px 10px;
    padding: 20px;
    background-color: white;
}

.screen_navigation , .alt_screen_navigation{
    padding-bottom: 10px;
}

.screen_navigation a, .alt_screen_navigation a{
    padding:3px 5px;
    margin:2px;
    color:white;
    text-decoration:none;
    float: left;
    font-family: Tahoma;
    font-size: 12px;
    background-color:#DB5C04;
}
.active_page{
    background-color:white !important;
    color:black !important;
}	

.content, .alt_content{
    color: black;
}

.content li, .alt_content li, .content > p{
    padding: 5px
}

.dragsource{
    margin-bottom:50px;
    display:block;
}
.dragsource li{
    float:left;
    height:100px;
    width:100px;
    border:1px solid;
    margin:0px 10px;
}
.dragtarget li{
    float:left;
    height:100px;
    width:100px;
    border:1px solid;
    margin:0px 10px;
}
.dragtarget{
    display:block;
    clear:both;
}

#COBJ454,#GL523,#CTN122,#CTN100{
    display:block;
}
.goals{
    border-bottom:1px solid #eee;
}
.edrag,.edrop{
    display:block;
    clear:both;
    margin:10px auto;
}
.edrop li{
    float:left;
    margin:10px;
}
.edrag li{
    float:left;
    width:100px;
    text-align:center;
    margin:10px;
}
img{
    display:block;
}
h1,h2,h3,h4,h5{
    display:none;
}
h6{
    text-align:right;
    font-size:12px;
    display:none;
}
.enum li{
    display:block;
    margin:10px;
    text-align: center;
}

font.eclick{
    cursor:pointer;
}
font.eclick:hover{
    text-decoration: underline;
    border:1px dotted #000;
    background:black;
    color:white;
}
.options li{
    margin:10px 0px;
    float:left;
}
#paginate{
    background:#fff;
}
.screenInfo{
    display:block;
    padding:10px;
    background:#eee;
    margin-bottom:10px;
    -webkit-box-shadow:  0px 2px 5px 0px rgba(0, 0, 0);
    box-shadow:  0px 2px 5px 0px rgba(0, 0, 0);
}
.screenInfo label{
    font-size:11px;
    display:block;
}
.screen{
    display:none;
}
#infoAct,#previous{
    float:left;
}
#infoAct label{
    color:#666;
}
#infoAct{
    margin-left:10px;
}
body{
    margin:0;
}
#infoAct strong{
    float:left;
    width:60px;
}

.input_element{
    width: 200px;
}

#nextButton{
    width: 200px;
    margin:0 auto;
    display:block;
}
#message{
    position:relative !important;
    margin-bottom:-50px !important;
    z-index: 1;
    top:20px;
}
.delement{
    opacity: 0.3;
}
.pairs,.groups{
    display: block;
}
.pairs .element,.groups .element{
    float: left;
}
.piecesets{
    width: 960px;
    margin:20px auto;
}
.element img{
    margin:0 auto;
}
.options .element font{
    margin:0 14px;
    padding:4px;
}
ul.enum,ul.pairs{
    border-bottom:1px solid #666;
    margin-bottom:20px;
}
ul.pairs{
    padding-bottom:20px;
}
.tpl span, .PieceSet span.elementPieceSet, span.elementCobject{
    float:left;
    border:1px dashed #000; 
    margin: 5px; 
    padding: 4px;
}
#cobject_description {
    background-color: #fff; 
    width: 100%
}
.tplTxt span{
    border:none; 
    margin: 5px; 
    padding: 4px;
}
/*.theme .tplMulti .insertImage{
    border:0px; 
    background: url('../../images/theme_tools_addimage.png'); 
    float:left; 
    height:34px;
    width:80px;
    text-indent:-9999px;
}*/
/*.theme .tplMulti .insertText{
    border:0px; 
    background:url('../../images/theme_tools_addtext.png'); 
    float:left; 
    height:34px; 
    width:80px;
    text-indent:-9999px;
}*/
.text { 
    border: 1px dashed black; 
    padding: 2px;
}
.messagebox{
    margin:10px auto;
    width:95%;
    display:block;
    padding:10px;
}
.messagewrong{
    background:red;
    color:#fff;
}
.messagecorrect{
    background:green;
    color:#fff;
}
.lstexts li font{
    display:block;
    padding-top:10px;
}
.element input[type=text]{
    width: 240px;
    height:32px;
}
.element input[type=button]{
    width: 98px;
    height:38px;
}
label.goal{
    font-weight: bold;
    font-size:20px;
    text-align: center;
}
.stpair6,.stgroup6{
    width: 150px;
    margin: 0px 5px;
    text-align: center;
    font-size:23px;
}
.stpair5,.stgroup5{
    width: 182px;
    margin: 0px 5px;
    text-align: center;
    font-size:25px;
}
.stpair4,.stgroup4{
    width: 230px;
    margin: 0px 5px;
    text-align: center;
    font-size:25px;
}
.stpair3,.stgroup3{
    width: 310px;
    margin: 0px 5px;
    text-align: center;
    font-size:25px;
}
.stpair6 img,.stgroup6 img{
    width:150px;
    height: 150px;
}
.stpair5 img,.stgroup5 img{
    width:180px; 
    height: 180px;
} 
.stpair4 img,.stgroup4 img{
    width:230px; 
    height: 230px;
} 
.stpair3 img,.stgroup3 img{
    width:310px; 
    height: 230px;
} 
.groups font, .pairs font{
    display: block;
    cursor: pointer;
}
.groups font:hover,.pairs font:hover{
    background:#eee
}
.lstexts font{
    text-align:center
}
.enum font{
    text-align: center
}
.options7{
    width: 135px;
    font-size:20px;
    text-align: center;
}
.options7 font{
    font-size:23px;
}
.options7 img{
    width: 135px;
    height:135px;
}
.options4{
    width: 240px;
    font-size:20px;
    text-align: center;
}
.options4 font{
    font-size:28px;
}
.options4 img{
    width: 240px;
    height:240px;
}
.options5{
    width: 190px;
    font-size:20px;
    text-align: center;
}
.options5 font{
    font-size:20px;
}
.options5 img{
    width: 190px;
    height:240px;
}
.options2{
    width: 460px;
    text-align: center;
}
.options2 font{
    font-size:35px;
}
.options2 img{
    width: 460px;
    height:460px;
}
.options3{
    width: 320px;
    text-align: center;
}
.options3 font{
    font-size:25px;
}
.options3 img{
    width: 320px;
    height:320px
}
.sps_render_ending strong{
    margin:0 auto;
    display:block; 
    width:260px; 
    font-size:160px;
    color:green;
    font-weight: bold;
    margin-top:50px;
}
.sps_render_ending span{
    text-align:center;
    font-size:30px;
    font-weight: bold;
    display:block;
}
ul.vertical li{
    float:left!important;
}
h5{
    display: block;
}
#library{
    height: 500px; 
    width: 80%; 
    text-align: center; 
    background-color: #fbeacd;
    margin-left:130px;
    margin-top:20px;
}
#aliasPaginate { 
    text-align: center; 
}
#aliasPrev{
    margin-right: 100px;
}
#aliasNext{
    margin-left: 100px;
}
#findByAlias { 
    margin-top: 10px;
    width: 300px; 
    height: 30px;
}
