body {
font-family: Arial, Helvetica;
font-size: 0.7em;
margin: 0;
padding: 0;
background-color:#fff ;
background-image: url("images/fundo.gif");
background-repeat: repeat-y ; 
}

#idioms{
position:absolute;
left:200px;
top: 65px;
height: 40px;
width: 75px;
z-index:3;
}

#topo{
height: 87px;
width:770px;
text-align:left;
background:#66CCFF ;
}

#topo1{
height: 87px;
width:983px;
text-align:left;
background:#66CCFF ;
}

#menu_top{
position: absolute;
margin:0px;
top: 95px;
left:20px;
height: 240px;
width:150px;
text-align:left;
visibility: hidden;
}

#disciplinas{
position: absolute;
margin:0px;
top: 95px;
left:60px;
height: 240px;
width:150px;
text-align:left;
visibility: hidden;
}

#menutop{
height: 32px;
width:770px;
text-align:left;
background-color:#EAEAEA ;
background-image: url("images/menu_fundo.gif");
background-repeat: repeat-x ; 
border-top:1px solid #fff;
}

#menutop ul{
width:100%;
margin:0;
padding:0;
list-style:none;
text-align:center;
}

#menutop ul li {
float:left;
margin:0;
padding:0;
font:80% arial, helvetica, sans-serif;
height:30px;
line-height:30px;
text-decoration:none;
background:#ccc;
background-image: url("images/menu_fundo3.gif");
color:#000;
}

#menutop ul li.zero{ width:20px; }
#menutop ul li.inicio a{ width:40px; }
#menutop ul li.larga a{ width:70px; }
#menutop ul li.meio a{ width:50px; }
#menutop ul li.apoio{ width:80px; }
#menutop ul li.cd a{ width:35px; }

#menutop ul li a{
float:left;
margin:0;
padding:0;
height:30px;
line-height:30px;
text-decoration:none;
background:#ccc;
background-image: url("images/menu_fundo.gif");
color:#000;
}

#menutop ul li a:hover{
text-decoration:underline ;
background-color:#EAEAEA ;
background-image: url("images/menu_fundo2.gif");
background-repeat: repeat-x ;
}

#menutop1{
height: 32px;
width:983px;
text-align:left;
background-color:#EAEAEA ;
background-image: url("images/menu_fundo.gif");
background-repeat: repeat-x ; 
border-top:1px solid #fff;
}

#menutop1 ul{
width:100%;
margin:0;
padding:0;
list-style:none;
text-align:center;
}

#menutop1 ul li {
float:left;
margin:0;
padding:0;
font:80% arial, helvetica, sans-serif;
height:30px;
line-height:30px;
text-decoration:none;
background:#ccc;
background-image: url("images/menu_fundo3.gif");
color:#000;
}

#menutop1 ul li.zero{ width:20px; }
#menutop1 ul li.inicio a{ width:40px; }
#menutop1 ul li.larga a{ width:70px; }
#menutop1 ul li.meio a{ width:50px; }
#menutop1 ul li.apoio{ width:80px; }
#menutop1 ul li.cd a{ width:35px; }

#menutop1 ul li a{
float:left;
margin:0;
padding:0;
height:30px;
line-height:30px;
text-decoration:none;
background:#ccc;
background-image: url("images/menu_fundo.gif");
color:#000;
}

#menutop1 ul li a:hover{
text-decoration:underline ;
background-color:#EAEAEA ;
background-image: url("images/menu_fundo2.gif");
background-repeat: repeat-x ;
}

#col1, #coldupla, #col2, #col3, #coldupla2, #search2, #questview, #col4, #coltripla, #colquadra, #col1234, #col12345, #col5, #base, #base1 {
float: left;
margin-top: 0px;
}

#col1{
width: 188px;
}

#coldupla{
width: 401px;
background-color:#fff ;
background-image: url("images/fundo1.gif");
background-repeat: repeat-y ; 
min-height: 600px;
_height: 600px;
}

#col2 {
width: 392px;
background-color:#fff ;
background-image: url("images/fundo2.gif");
background-repeat: repeat-y ; 
min-height: 600px;
_height: 600px;
}   

#col3 {
height: 540px;
width: 194px;
margin-left: 2px;
background-color:#eee ;
}

#coldupla2{
width: 388px;
background-color:#fff ;
background-image: url("images/fundo_coldupla.gif");
background-repeat: repeat-y ; 
min-height: 600px;
_height: 600px;
}

#col4 {
width: 192px;
margin: 0px;
text-align: center;
}

#coltripla{
width: 579px;
background-color:#fff ;
background-image: url("images/colunatripla.png");
background-repeat: repeat-y ; 
min-height: 600px;
_height: 600px;
}

#colquadra{
width: 450px;
min-height: 600px;
_height: 600px;
}

#col1234{
width: 795px;
background-color:#fff ;
background-image: url("images/coluna1234.png");
background-repeat: repeat-y ; 
min-height: 600px;
_height: 600px;
}

#col12345{
width: 980px;
background-color:#fff ;
background-repeat: repeat-y ; 
min-height: 600px;
_height: 600px;
}

#col5{
width: 220px;
margin: 0px;
text-align: center;
}

#base{
height: 30px;
width: 770px;
margin:0;
padding:0px;
text-align:center;
line-height:30px;
background-color:#EAEAEA ;
background-image: url("images/menu_fundo.gif");
background-repeat: repeat-x ; 
border-top:1px solid #fff;
}

#base1{
height: 30px;
width: 983px;
margin:0;
padding:0px;
text-align:center;
line-height:30px;
background-color:#EAEAEA ;
background-image: url("images/menu_fundo.gif");
background-repeat: repeat-x ; 
border-top:1px solid #fff;
}

#projetos {
height: 205px;
width: 194px;
text-align: center;
background-image: url("images/fundo_destaque2.jpg");
background-repeat: repeat-y ; 
border-bottom:3px solid #fff;
}

#projetos ul{
margin:0;
padding-left:23px;
padding-right:23px;
list-style:none;
}

#projetos ul li{
height:20px;
line-height:20px;
}

#projetos ul li a{
width: 150px;
height: 23px;
display: block;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
line-height:20px;
text-decoration:none;
background:#CBE5FE;
color:#000;
}

#projetos ul li a:hover{
border-top: 1px solid #000;
border-left: 1px solid #000;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
text-decoration:none ;
background-color:#3C468C ;
color:#fff;
}

#cursos {
height: 370px;
width: 194px;
text-align: center;
background-image: url("images/fundo_destaque2.jpg");
background-repeat: repeat-y ; 
border-bottom:3px solid #fff;
}

#cursos ul{
margin:0;
padding:23px;
list-style:none;
}

#cursos ul li{
height:25px;
line-height:25px;
}

#cursos ul li a{
width: 150px;
display: block;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
text-decoration:none;
background:#CBE5FE;
color:#000;
}

#cursos ul li a:hover{
border-top: 1px solid #000;
border-left: 1px solid #000;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
text-decoration:none ;
background-color:#3C468C ;
color:#fff;
}

#cursos ul li.tit{
width: 150px;
border-top: 1px solid #000;
border-left: 1px solid #000;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
text-decoration:none ;
background-color:#3C468C ;
color:#fff;
}

#oficinas {
height: 345px;
width: 194px;
text-align: center;
background-image: url("images/fundo_destaque2.jpg");
background-repeat: repeat-y ; 
border-bottom:3px solid #fff;
}

#oficinas ul{
margin:0;
padding:23px;
list-style:none;
}

#oficinas ul li{
height:25px;
line-height:25px;
}

#oficinas ul li a{
width: 150px;
height: 23px;
display: block;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
line-height:25px;
text-decoration:none;
background:#CBE5FE;
color:#000;
}

#oficinas ul li a:hover{
border-top: 1px solid #000;
border-left: 1px solid #000;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
text-decoration:none ;
background-color:#3C468C ;
color:#fff;
}

#oficinas ul li.tit{
width: 150px;
border: 1px solid #3C468C;
background-color:#3C468C;
color:#fff;
}

#material {
height: 300px;
width: 194px;
text-align: center;
background-image: url("images/fundo_destaque2.jpg");
background-repeat: repeat-y ; 
border-bottom:3px solid #fff;
}

#material ul{
margin:0;
padding:23px;
list-style:none;
}

#material ul li{
height:25px;
line-height:25px;
}

#material ul li a{
width: 150px;
height: 23px;
display: block;
border-top: 1px solid #fff;
border-left: 1px solid #fff;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
line-height:25px;
text-decoration:none;
background:#CBE5FE;
color:#000;
}

#material ul li a:hover{
border-top: 1px solid #000;
border-left: 1px solid #000;
border-right: 1px solid #fff;
border-bottom: 1px solid #fff;
text-decoration:none ;
background-color:#3C468C ;
color:#fff;
}

#material ul li.tit{
width: 150px;
border: 1px solid #3C468C;
background-color:#3C468C;
color:#fff;
}

#menu2{
width:151px;
margin:0px;
text-align:center;
}

#menu2 ul{
margin:0;
padding:10px;
list-style:none;
}

#menu2 ul li {
height:25px;
line-height:25px;
width: 150px;
}

#menu2 ul li.gde {
height:30px;
line-height:15px;
}

#menu2 ul li a{
width: 150px;
display: block;
border-top: 1px solid #BFE3FB;
border-left: 1px solid #BFE3FB;
border-right: 1px solid #639CD7;
border-bottom: 1px solid #639CD7;
text-decoration:none;
background:#69BDF6;
color:#000;
}

#menu2 ul li a:hover{
border-top: 1px solid #639CD7;
border-left: 1px solid #639CD7;
border-right: 1px solid #BFE3FB;
border-bottom: 1px solid #BFE3FB;
text-decoration:none ;
background-color:#3C468C ;
color:#fff;
}

#menu2 ul li.tit{
border: 1px solid #3C468C;
background-color:#3C468C ;
color:#fff;
}

#menu2 ul li.titgde{
border: 1px solid #3C468C;
background-color:#3C468C ;
color:#fff;
height:30px;
line-height:15px;
}

#menu2 ul li.dest a{
width: 150px;
display: block;
border-top: 1px solid #eee;
border-left: 1px solid #eee;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
text-decoration:none;
background:#ccc;
color:#003366;
}

#menu2 ul li.dest a:hover{
border-top: 1px solid #000;
border-left: 1px solid #000;
border-right: 1px solid #000;
border-bottom: 1px solid #eee;
text-decoration:none ;
background-color:#666 ;
color:#fff;
}

#menu2 ul li.destgde a{
height:30px;
line-height:15px;
width: 150px;
display: block;
border-top: 1px solid #eee;
border-left: 1px solid #eee;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
text-decoration:none;
background:#ccc;
color:#003366;
}

#menu2 ul li.destgde a:hover{
border-top: 1px solid #000;
border-left: 1px solid #000;
border-right: 1px solid #000;
border-bottom: 1px solid #eee;
text-decoration:none ;
background-color:#666 ;
color:#fff;
}

#menu2 ul li.titdest{
border: 1px solid #000;
background-color:#666 ;
color:#fff;
}

#menu2acesso{
width:151px;
margin:0px;
text-align:center;
}

#menu2acesso ul{
margin:0;
padding:10px;
list-style:none;
}

#menu2acesso ul li {
height:20px;
line-height:20px;
width: 150px;
}

#menu2acesso ul li.gde {
height:40px;
line-height:15px;
}

#menu2acesso ul li a{
width: 150px;
display: block;
border-top: 1px solid #BFE3FB;
border-left: 1px solid #BFE3FB;
border-right: 1px solid #639CD7;
border-bottom: 1px solid #639CD7;
text-decoration:none;
background:#69BDF6;
color:#000;
}

#menu2acesso ul li a:hover{
border-top: 1px solid #639CD7;
border-left: 1px solid #639CD7;
border-right: 1px solid #BFE3FB;
border-bottom: 1px solid #BFE3FB;
text-decoration:none ;
background-color:#3C468C ;
color:#fff;
}

#menu2acesso ul li.tit{
border: 1px solid #3C468C;
background-color:#3C468C ;
color:#fff;
}

#menu2acesso ul li.titgde{
border: 1px solid #3C468C;
background-color:#3C468C ;
color:#fff;
height:40px;
line-height:20px;
}

#menu2acesso ul li.dest a{
width: 150px;
display: block;
border-top: 1px solid #eee;
border-left: 1px solid #eee;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
text-decoration:none;
background:#ccc;
color:#003366;
}

#menu2acesso ul li.dest a:hover{
border-top: 1px solid #000;
border-left: 1px solid #000;
border-right: 1px solid #000;
border-bottom: 1px solid #eee;
text-decoration:none ;
background-color:#666 ;
color:#fff;
}

#menu2acesso ul li.destgde a{
height:40px;
line-height:20px;
width: 150px;
display: block;
border-top: 1px solid #eee;
border-left: 1px solid #eee;
border-right: 1px solid #000;
border-bottom: 1px solid #000;
text-decoration:none;
background:#ccc;
color:#003366;
}

#menu2acesso ul li.destgde a:hover{
border-top: 1px solid #000;
border-left: 1px solid #000;
border-right: 1px solid #000;
border-bottom: 1px solid #eee;
text-decoration:none ;
background-color:#666 ;
color:#fff;
}

#menu2acesso ul li.titdest{
border: 1px solid #000;
background-color:#666 ;
color:#fff;
}

#relac{
margin:0px;
text-align:center;
}

#relac ul{
margin:0;
padding:23px;
list-style:none;
}

#relac ul li {
height:25px;
line-height:25px;
}

#relac ul li.gde {
height:50px;
line-height:25px;
}

#relac ul li a{
width: 150px;
display: block;
border-top: 1px solid #BFE3FB;
border-left: 1px solid #BFE3FB;
border-right: 1px solid #639CD7;
border-bottom: 1px solid #639CD7;
text-decoration:none;
background:#69BDF6;
color:#000;
}

#relac ul li a:hover{
border-top: 1px solid #639CD7;
border-left: 1px solid #639CD7;
border-right: 1px solid #BFE3FB;
border-bottom: 1px solid #BFE3FB;
text-decoration:none ;
background-color:#3C468C ;
color:#fff;
}

#relac ul li.tit{
width: 150px;
border: 1px solid #3C468C;
background-color:#3C468C ;
color:#fff;
}

#destaque2 {
height: 194px;
width: 194px;
margin: 0;
background-image: url("images/fundo_destaque1.jpg");
border-bottom:3px solid #fff;
}

h1 {
display:block;
margin: 10px ;
padding:0 ;
font:bold 200% arial, helvetica, sans-serif;
text-decoration:none;
color:#003366;
}

h1 a{
text-decoration:none;
color:#003366;
}

h1 a:hover{
text-decoration:underline ;
}

#questview h1 {
display:block;
margin: 10px ;
padding:0 ;
font:bold 180% arial, helvetica, sans-serif;
text-decoration:none;
color:#000000;
}

h2 {
display:block;
margin: 10px ;
padding:0 ;
font:bold 150% arial, helvetica, sans-serif;
text-decoration:none;
color:#3366CC;
}

h2 a{
text-decoration:none;
color:#3366CC;
}

h2 a:hover{
text-decoration:underline ;
}

#questview h2 {
display:block;
margin: 0px 0px 0px 10px;
padding: 0;
font:bold 140% arial, helvetica, sans-serif;
text-decoration:none;
color: #000000;
}

h3 {
display:block;
margin: 10px;
padding:0 ;
font:bold 110% arial, helvetica, sans-serif;
text-decoration:none;
color:#003366;
}

h3 a{
text-decoration:none;
color: #3366CC;
}

h3 a:hover{
text-decoration:underline ;
background-color:#3366CC ;
color: #fff;
}

#questview h3 {
display:block;
margin: 0px 0px 0px 10px;
padding:0 ;
font:bold 120% arial, helvetica, sans-serif;
text-decoration:none;
color:#000000;
}

table h3 {
display:block;
margin: 0px 0px 0px 0px;
padding:0 ;
font:bold 120% arial, helvetica, sans-serif;
}

h4 {
display:block;
margin: 10px 10px 10px 10px;
padding:0 ;
font:bold 100% arial, helvetica, sans-serif;
text-decoration:none;
color:#003366;
}

table h4 {
display:block;
margin: 0px;
padding:0 ;
font:bold 100% arial, helvetica, sans-serif;
text-decoration:none;
color:#003366;
}

h4 a{
text-decoration:none;
color:#003366;
}

h4 a:hover{
text-decoration:underline ;
}

#questview h4 {
display:block;
margin: 0px 0px 0px 10px;
padding:0 ;
font:bold 100% arial, helvetica, sans-serif;
text-decoration:none;
color:#000000;
}

p {
margin: 10px;
text-align: justify;
}

label{
margin: 0 0 0 10px;
padding: 0;
font: bold 100% arial, helvetica, sans-serif;
color:#000;
}

a.link {
height: 15px;
margin: 0;
color: #3366CC;
}

a:hover.link {
background-color:#3366CC ;
color: #fff;
}

a.relac {
margin: 10px;
text-align:center;
color: #3366CC;
}

a:hover.relac{
color: #fff;
}

a.linkl{
text-decoration:none;
}

a:hover.linkl{
text-decoration:underline ;
}

.photo{
float: left;
margin: 10px;
}

.photover{
float: left;
margin-left: 10px;
margin-bottom: 10px;
}

.photo2{
float: right;
margin: 10px;
}

.imagem{
float: left;
margin-right: 10px;
}

#topogibi{
height: 57px;
width:449px;
text-align:left;
background:#66CCFF ;
}

#setagibi{
position:absolute;
left: 377px;
top: 26px;
width:119px;
z-index:4;
}

#titulogibi{
	position:absolute;
	left: 145px;
	top: -1px;
	width:410px;
	z-index:4;
	height: 68px;

}

#conteudogibi{
position:absolute;
left:0px;
top: 57px;
width:449px;
background-color:#fff ;
z-index:2;
}

#foldertop{
position:absolute;
left: 270px;
top: 0px;
width:368px;
height:87px;
z-index:3;
margin:0;
}

#foldertop1{
position:absolute;
left: 470px;
top: 0px;
width:368px;
height:87px;
z-index:3;
margin:0;
}

#contatotop{
position:absolute;
left: 638px;
top: 0px;
width:132px;
z-index:4;
}

#contatotop1{
position:absolute;
left: 838px;
top: 0px;
width:132px;
z-index:4;
}

#search1{
position:absolute;
left: 649px;
top: 55px;
height: 25px;
margin: 0px;
padding: 0px;
text-decoration:none;
}

#search2{
height: 30px;
width: 575px;
margin: 0px;
padding: 2px;
line-height: 14px;
text-decoration:none;
background-color:#fff ;
background-image: url("images/fundo_serach1.gif");
background-repeat: repeat-x ;
}

#topoquest{
position:absolute;
left:0px;
top:0px;
height: 90px;
width:770px;
text-align:left;
background-color:#fff;
z-index:1;
}

#tituloquest{
position:absolute;
left: 220px;
top: 0;
width:460px;
text-align:center;
z-index:2;
}

#questprint{
position:absolute;
left: 640px;
top: 20;
width:130px;
z-index:3;
}

#questview{
position:absolute;
left:0;
top: 80px;
width: 770px;
margin: 0px;
padding: 2px;
line-height: 14px;
text-decoration:none;
background-color:#fff ;
background-repeat: repeat-x ;
z-index:4;
}

#topogibi1{
height: 57px;
width:638px;
text-align:left;
background:#66CCFF ;
}

#setagibi1{
position:absolute;
left: 517px;
top: 34px;
width:119px;
z-index:4;
}

#conteudogibi1{
position:absolute;
left:0px;
top: 57px;
width:638px;
background-color:#fff ;
z-index:2;
}

#conteudogibi2{
position:absolute;
left:0px;
top: 57px;
width:770px;
background-color:#fff ;
z-index:2;
}

#topogibi2{
height: 57px;
width:770px;
text-align:left;
background:#66CCFF  ;
}

#botao{
height: 23px;
weight: auto;
padding: 0 1px;
}

#botaopesq{
height: 18px;
weight: auto;
padding: 0 5px 0 0;
}

ol li{
margin: 10px;
}

#title
{
margin: 10px;
text-align: justify;
}

#description
{
margin: 10px;
text-align: justify;
}

#pages_links{
margin: 10px;
text-align: justify;
}


#conheca{
height: 30px;
width: 380px;
margin:0;
padding:0px;
line-height:30px;
text-align: center;
background-color:#ccc ;
background-image: url("images/menu_fundo.gif");
background-repeat: repeat-x ; 
border-top:1px solid #fff;
}	

form{
margin: 0;
}

tr {
font-family: Arial, Helvetica;
font-size: 0.7em;
}
