body {
    background: #FEDFA3;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(#F5DBAF), to(#FEDFA3));
    font-family: asap, helvetica, arial, sans-serif;
    overflow: hidden;
}
#import-form {
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 305px;
    margin: 5% auto;
    text-align: center;
}
#export-form {
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 305px;
    margin: 1% auto;
    text-align: center;
}
.import-button, .back-button {
    background: #FBB03B;
    border: none;
    padding: 15px 27px;
    font-family: tellural;
    font-size: 20px;
    color: #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 6px #2C2C2C;
    margin: 10px 0 0 15px;
}
.import-button:hover {
    cursor: pointer;
    background: #E9A232;
}
.export-button {
    background: #ACDD31;
    border: none;
    padding: 15px 27px;
    font-family: tellural;
    font-size: 20px;
    color: #fff;
    border-radius: 6px;
    box-shadow: 2px 2px 6px #2C2C2C;
    margin: 10px 0 0 15px;
}
.export-button:hover {
    cursor: pointer;
    background: #4dd33a;
}
.back-button {
    background: none repeat scroll 0 0 #D3D3D3;
    border-color: #808080;
    color: #808080;
}
.back-button:hover {
    background: #c3c2c3;
}
.buttons {
    width: 240px;
}
